doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  llink(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/receipt.css')
  title Document

//- each client in client
.text
  h1 DOCKVILLE PARKING 
  h3 Battery Reciept
  p 

      p #{client.time}  #{client.date}
      
      h3  #{client.firstname}

      p Phone: #{client.telephone}
      
      p Size: #{client.size}  Model: #{client.make}

      h3 Service: #{client.service}

      h3 Price: #{client.price}

      p Thank you
      
      p NB:"Goods once sold are not returnable" 

script(src='/bootstrap/set/bootstrap.js') 
  
