doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/batteryform.css')
  title batteryform
.container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-nav
      .container-fluid
        a.navbar-brand(href='#') DV PARKING
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='tire') Tire clinic
            li.nav-item
              a.nav-link(href='battery') Battery
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='#') Something else here
            li.nav-item
              a.nav-link.disabled(aria-disabled='true')
          button#btn.btn.btn-outline-primary(type='button' onclick="location.href = 'signup';")
              | Back
    .register
      form(name='tyreregister' action='#'  method='POST' onsubmit="return Validate();")
        #title
        h3  BATTERY REGISTER
        img(src='/images/bat.jpeg' alt='')
        .form.row.g-3
          .col-md-6
            label.form-label(for='firstname')  Name*
            input#firstname.form-control(type='text' name='firstname' value=client.firstname)
            span#dnameerror
          .col-md-6
            label.form-label(for='gender') Gender*
            select#inputState.form-select(type="text" name='gender' value=client.gender)
              option(selected='') 
              option(value='Female') Female
              option(value='male') Male
            span#genderError
          .col-md-12
            label.form-label(for='ninnumber') NIN Number*
            input#ninnumber.form-control(type='alpha numeric' name='ninnumber' value=client.ninnumber)
            span#ninnumberError   
          .col-md-6
            label.form-label(for='telephone') Phone*
            input#telephone.form-control(type='text'  name='telephone' value=client.telephone)
            span#cnumbererror
          
          .col-md-6
            label.form-label(for='size') Size*
            input#carnumber.form-control(type='text' name='size' value=client.size)
            span#sizeError
          .col-md-6
            label.form-label(for='vehiclemodel') Vehicle model*
            select#inputState.form-select(name='vehiclemodel' value=client.vehiclemodel.name)
              option(selected='') 
              option(value='Toyota') Toyota
              option(value='Rangerover') Rangerover
            span#modelError
          
          .col-md-3
            label.form-label(for='date') Date*
            input#date.form-control(type='date' name='date' value=client.date)
            span#dateerror
          .col-md-3
            label.form-label(for='time') Time*
            input#time.form-control(name='time' type="time" value=client.time)
            span#timeerror
          .col-md-6
            label.form-label(for='service') Service*
            select#inputState.form-select(name='service' value=client.service)
              option(selected='') 
              option(value='hire') Hire
              option(value='purchase') Purchase
            span#serviceError
          .col-md-6
            label.form-label(for='Price') Price*
            select#inputState.form-select(name='price' value=client.price)
              option(selected='') 
              option(value='5000') 5000 
              option(value='500') 500
            span#priceError
          .col-md-12
            input#employeeId.form-control(type='hidden' name='employeeId' value=UserID  )
          .col-12
            button.ton-b.btn.btn-primary(type='submit' onsubmit="location.href='services'") SUBMIT
  script(src='/js/batteryvalidation.js')
  script(src='/bootstrap/set/bootstrap/js')
