doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/receipt.css')
  title parking receipt
body 
  .container-fluid
  .row
    navbar.navbar.navbar-expand-lg.my-navbar
      .container-fluid
          a.navbar-brand(href='#') DV PARKING
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(aria-current='page' href='#') Home
              li.nav-item
                a.nav-link.active(aria-current='page' href='services') Services
                  
            button#but-p.btn.btn-outline-primary(type='button' onclick="goBack()") Back
            button.btn.btn-outline-primary(type='button' onclick="location.href = 'logout';") Logout 
//- each client in client
.text
  h1 DOCKVILLE PARKING

  h3 Parking Reciept
  
  p #{client.time}  #{client.date}
  
  p #{client.employeeId}  RctNo. 001
  
  h3  Client: #{client.firstname}

  
  
  p NIN Number: #{client.ninnumber}

  p Cartype: #{client.cartype}

  p Number plate: #{client.carnumber}

  h3 Service: #{client.service}

  h3 Price: #{client.price}

  p Better Choices, Happy Customers
  
  p NB:"Don't drive drunk" 

script(src='/bootstrap/set/bootstrap.js') 
script(src='/js/back.js') 
  
