doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/report.css')
  title Document

  .container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-navbar
      .container-fluid
        a.navbar-brand(href='#') PARKING REPORT
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='landing') Home
          .buts
            
            button#but-p.btn.btn-outline-primary(type='button' onclick="goBack()")
              | Back
            button.btn.btn-outline-primary(type='button' onclick="location.href = 'logout';")
              | Logout   
            
  
    
  .price
    div.dailyprice
      p  shs #{allPrices}
  

table.table()
  thead.table-dark
    tr
      th(scope='col') Date
      th(scope='col') Time
      th(scope='col') Rct no.
      th(scope='col') Driver's name
      th(scope='col') Phone
      th(scope='col') Gender 
      th(scope='col') Number plate
      th(scope='col') Car type
      th(scope='col') Service
      th(scope='col') Price
      th(scope='col') Payment Status
      th(scope='col') Print
      th(scope='col') Parking Status
     
  tbody
  if persons.length 
    each client in persons
      tr
      
        td #{client.date}
        td #{client.time}
        td #{client.receiptid}
        td #{client.firstname}
        td #{client.telephone}
        td #{client.gender}
        td #{client.carnumber}
        td #{client.cartype}
        td #{client.service}
        td #{client.price}
        td 
          form()
            input(type="hidden" name="id" value=client._id)
            a.btn.btn-outline-success(type="submit") Paid
        td 
          a#buts.btn.btn-outline-success(type='button' href ="") Print
        td
          form(action="/api/" method="POST")
            input(type="hidden" name="id" value=client._id)
            a.btn.btn-light(type="submit") Signout
     
         
        
  //- else 
    p There are no employees in the database
script(src='/bootstrap/set/bootstrap/js')
script(src="/js/back.js") 
