doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/report.css')
  title Document

  .container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-navbar
      .container-fluid
        a.navbar-brand(href='#') DV REPORT
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='landing') Home
          .buts
            button#buts.btn.btn-outline-success(type='button' onclick="location.href = 'receipt';") Print
            button.btn.btn-outline-primary(type='button' onclick="location.href = 'previous';")
              | Back
            
  
    
  .price
    div.parkingprice
      p  #{parkingPrices}
    div.batteryprice
      p  #{batteryPrices}
    div.tireprice
      p  #{tirePrices}
    div.dailyprice
      p  #{allPrices}
  

table.table()
  thead.table-dark
    tr
      th(scope='col') Driver's name
      th(scope='col') Phone
      th(scope='col') Number plate
      th(scope='col') NIN Number
      th(scope='col') Vehicle Model
      th(scope='col') Vehicle color
      th(scope='col') Date
      th(scope='col') Time
      th(scope='col') Car type
      th(scope='col') Service
      th(scope='col') Price
      th(scope='col') Delete
      th(scope='col') Edit
     
  tbody
  if persons.length 
    each client in persons
      tr
        td #{client.firstname}
        td #{client.telephone}
        td #{client.carnumber}
        td #{client.ninnumber}
        td #{client.vehiclemodel}
        td #{client.vehiclecolor}
        td #{client.date}
        td #{client.time}
        td #{client.cartype}
        td #{client.service}
        td #{client.price}
        td
          form(action="/api/report/delete" method="POST")
            input(type="hidden" name="id" value=client._id)
            button.btn.btn-danger(type="submit") Delete
        td 
          a.btn.btn-warning(href="/api/form/edit/"+client._id) Edit   
          a(href=`/api/form/edit/"${client._id}`)    
       
  //- else 
    p There are no employees in the database
script(src='/bootstrap/set/bootstrap/js')
